
*{
    margin: 0;
    padding: 0;
}

.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;   
}
.box{
    max-width: 150px;
    width: 100%;
    height: 5px;
   
    
}
.box .search-box{
    position: relative;
    height: 25px;
    max-width: 30px;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#check:not(:checked) ~ .search-box input {
    width: 0;
}

#check:checked ~ .search-box{
    max-width: 350px;
}
.search-box input{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 5px;
    border-radius: 14px;
    background-color: #FFF;
    outline: none;
    border:none;
    padding-left: 10px;
    font-size: 14px;
   
}
.search-box .icon{
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #FFF;
    height: 100%;
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    border-radius: 15px;
}
#check:checked ~ .search-box .icon{
    background: orange;
    width: 40px;
    border-radius: 0 15px 15px 0;
}
#check{
    display: none;
}
.loc1{
    position: relative;
    bottom: 19px;
    right:50px;
}
.main-content{
    width: 100%;
    height: 650px;
    background: url(./pics/6.jpeg) no-repeat center center/cover;
    background-size: cover;
    background-position: 70%;
    
}
#navbar-color{
    background-color: antiquewhite;
}
.navbar-nav{
    margin: auto;
}

.nav-link{
    margin-left: 30px;
    font-weight: bold; 
    color:black;
    transition: 0.5s ease;
    cursor:pointer;
}
.nav-link:hover{
    color: orangered;
}
#request{
    height: 500px;
    width: 45%;
    margin-top: 30px;
    margin-left: 70px;
   
    border-radius: 4px;
    background-color: white;
}
.ride{
    height: 80px;
    width: 100%;
}
.ride .icons .bx {
    height:30px;
    width: 30px;
    margin-top: 15px;
    margin-left: 75px;
    font-size: 30px;
}
/* .divheading{
    
    display: flex;
    flex-direction: row;
}
.divheading h5{
    margin: 20px;
    margin-top: 20px;
    margin-left: 70px;
} */
.location{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.location h3{
    text-align: center;
   
    font-size: 2.2rem;
}
.location input{
    height: 40px;
    width: 70%;
    margin-top: 14px;
    margin-left: 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(239, 233, 233, 0.512);
    align-items: center;
}
.btn1{
    height: 30px;
    width: 150px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: orange;
    border: 3px orange;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}
.btnn{
    height: 30px;
    width: 150px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #fff44f;
    border: 3px solid #fff44f;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}
.bus{
    height: 20px;
    width: 100%;
}
.bus::before{
    position: absolute;
    content: "";
    height: 300px;
    width: 100%;
    z-index: -1;
}
.bus h1{
    font-size: 2.3rem;
    margin-left: 100px;
    text-align: center;   
}

#tpc{
    box-shadow: 0 0 5px black;
    background-color: #fff44f;
    transition: 0.05s ease;
    cursor: pointer;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;

}
#tpc:hover{
    transform: translateY(-20px);
}
#tpc1{
    box-shadow: 0 0 5px black;
    background-color: #ff9e4f;
    transition: 0.05s ease;
    cursor: pointer;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;

}
#tpc1:hover{
    transform: translateY(-20px);
}
#tpc2{
    box-shadow: 0 0 5px black;
    background-color: #d3ff4f;
    transition: 0.05s ease;
    cursor: pointer;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;

}
#tpc2:hover{
    transform: translateY(-20px);
}
#tpc3{
    box-shadow: 0 0 5px black;
    background-color: #4ffff9;
    transition: 0.05s ease;
    cursor: pointer;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;

}
#tpc3:hover{
    transform: translateY(-20px);
}
#tpc4{
    box-shadow: 0 0 5px black;
    background-color: #4f98ff;
    transition: 0.05s ease;
    cursor: pointer;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;

}
#tpc4:hover{
    transform: translateY(-20px);
}
#tpc5{
    box-shadow: 0 0 5px black;
    background-color: #cd4fff;
    transition: 0.05s ease;
    cursor: pointer;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;

}
#tpc5:hover{
    transform: translateY(-20px);
}
